$purple: #635da9;

body {
    margin: 0;
    padding: 0;

    background-color: $purple;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: fit-content;
    max-width: 100%;

    background-color: white;

    display: flex;
    flex-direction: column;

    margin: 2em;
    padding: 2em;

    border-radius: 1.5em;
}

.project-name-container {
    margin-bottom: 1em;
}

.project-name {
    margin: 0;
}

.joke-container {
    padding: 0.5em;

    background-color: lightgrey;

    border-radius: 0.5em;
}

.next-joke-btn {
    margin: 1em 0;
}



.next-joke-button {
    background-color: $purple;

    padding: 1em 1.5em;

    font-weight: 600;
    color: white;

    border: 0px;
    border-radius: 1em;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}